---
layout: defaultBlog
title: Blog
---
<div id="blogPageWrapper">
  <nav id="blogSidebar">
    <ul>
      <p>Recent Posts:</p>
      {% for post in site.posts limit: 10 %}
        <a href="{{ post.url }}">{{ post.title }} </a>
        <p id="recentBlogPageDate">{{ post.date | date: '%B %d, %Y' }}</p>
      <div id="postDivider"></div>
      {% endfor %}
    </ul>
    <div id="sidebarBottom"></div>
  </nav>
  <div id="blogIntro">
      <div id="marginWrap">
        <div id="blogIntroWrapper">
          <h1 class="headElem">Latest Posts</h1>
          <h3 class="headElem">
            These blog posts are written for no one in particular. I guess I'm writing them for my own sake. If someone does happen upon these at any point in time, I hope they enjoy them. If nothing else, I at least hope they provide some insight into who I am and how I think.
          </h3>
      </div>
      <ul>
        {% for post in site.posts %}
          <li>
            <div id="blogPagePostTitle">
              <p>
                <a href="{{ post.url }}">{{ post.title }}:</a>
                <p class="blogPageDate">{{ post.date | date: '%B %d, %Y'}}</p>
              </p>
            </div>
            <a href="{{ post.url }}">
            <div id="blogPageExcerpt">
              {{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}  
            </div>
          </a>
          </li>
          <div id="blogDivider"></div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

