---
layout: defaultBlog
title: Blog
---
<div id="blogPageWrapper">
  <nav id="blogSidebar">
    <ul>
      <p>Recent Posts:</p>
      {% for post in site.posts limit: 10 %}
        <a href="{{ post.url }}">{{ post.title }} </a>
        <p id="recentBlogPageDate">{{ post.date | date: '%B %d, %Y' }}</p>
      <div id="postDivider"></div>
      {% endfor %}
    </ul>
    <div id="sidebarBottom"></div>
  </nav>
  <div id="blogIntro">
      <div id="marginWrap">
        <div id="blogIntroWrapper">
          <h1 class="headElem">Latest Posts</h1>
          <h3 class="headElem">
            Hello. I'm a musician, reader, programmer, and food enthusiast. But first and foremost, I'm a cynical pessimist. These blog posts aren't really aimed at any audience in particular. Nor would I expect anyone to care about these in the first place. However, I write with the intention of simply sharing my generally poorly-planned, contrived, and often idiotic ideas. 
            <br>
            <br>
            If you have any questions or comments, toss them into the contact form. 
          </h3>
          <div id="blogDivider"></div>
      </div>
      <ul>
        {% for post in site.posts %}
          <li>
            <div id="blogPagePostTitle">
              <p>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <p class="blogPageDate">{{ post.date | date: '%B %d, %Y'}}</p>
              </p>
            </div>
          </li>
          <div id="blogDivider"></div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

