/*Color palette*/
/*
#313638 - Onyx
#C6C8C8 - Lavender Gray (box shadows)
#F09D51 - Sandy Brown
#E0DFD5 - Gainsboro
#E8E9EB - Platinum
#F06543 - Tomato
#5bc3eb - Blue Jeans
*/
html
{
    width: 100%;
    height: 100%;
    display: table;
}

body
{
    background-color: #E8E9EB;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.85em;

    position: relative;
    display: table-cell;
    min-height: 100%;
}

html, body
{
    margin: 0px;
    padding: 0px
}

#mainSect
{
    padding-top: 5em;
    padding-bottom: 5em;
    width: 100%;
}

#mainContent
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

/*Nav*/

#navbar
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#navWrapper
{
    display: none;
}

#navigationElem a 
{
    padding: 0.5em;
    min-width: 35%;
    text-align: center;
}

/*Mobile*/
@media only screen and (max-width: 1049px) 
{
    main 
    {
        font-size: 1.2em;
        overflow-x: hidden;
    }

    footer div
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }


    footer div a
    {
        margin-left: 1em;
        margin-right: 1em;
    }

    #navigationElem
    {
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: center;
        top: 0;
        width: 100%;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        background-color: #24292e;
    }

    #navWrapper
    {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }



    #introIcons img
    {
        width: 60%;
    }

    #introHeadWrapper 
    {
        display: flex;
        flex-direction: column;
    }

    #codeConst
    {
        font-size: 0.8em;
    }

    #codeSuper
    {
        font-size: 0.7em;
    }

    .codeSelf
    {
        font-size: 0.7em;
    }

    #codeGotoSkills
    {
        margin-top: 1.5em;
        font-size: 0.8em;
    }

    #verticalDivider
    {
        display: none;
    }

    #introParagraph
    {
        text-align: center;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #introParagraph div 
    {
        display: flex;
        justify-content: center;
    }

    .introButton
    {
        box-shadow: 3px 4px 0px 0px #DB5C3D;
        background-color: #F06543;
        border: 1px solid #DB5C3D;
        cursor: pointer;
        color: #313638;
        padding: 0.25em;
        min-width: 45%;
        max-width: 45%;
        text-align: center;
        margin: 0.5em;
    }
    
    
    #codeIntro
    {
        border-top: 1px solid #F06543;
        font-family: 'Fira Code', monospace;
        overflow-wrap: break-word;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #contact
    {
        width: 99%;
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #blogIntro
    {
        width: 99%;
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #post
    {
        margin-top: 1em;
        width: 99%;
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #skills
    {
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #listWrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    #skills ul
    {
        width: 100%;
        background-color: #FBFBFB;
        list-style-type: none;
        padding-right: 40px;
    }

    
    #skills h4 
    {
        margin-top: -0.5em;
        text-align: center;
    }

    #projectsWrapper
    {
        display: none;
    }

    #projects
    {     
        align-items: center;
        padding: 1em;  
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
    }

    #projects ul
    {
        display: flex;
        text-align: left;
        align-items: center;
        flex-direction: column;
        margin-left: -2.5em; 
    }

    #projects li
    {
        width: 90%;
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        padding: 1em;
        margin: 1em;
        list-style-type: none;
    }

    #blogSidebar
    {
        display: none;
    }

    #blogPageExcerpt 
    {
        max-width: 50%;
        display: none;
    }

    #postMarginWrap span
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #postMarginWrap img
    {
        width: 240px;
        height: 360px;
    }
}

/*Desktop*/
@media only screen and (min-width: 1050px)
{
    #navigationElem
    {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        background-color: #24292e;
        padding-top: 0em;
        padding-right: 10em;
        padding-bottom: 0em;
        font-size: 1.15em;
        height: 0;
    }

    
    #navigationElem a:hover
    {
        background-color: #F06543;
        color: #f2f2f2 !important;
    }


    footer div
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    footer div a
    {
        margin-left: 1em;
        margin-right: 1em;
    }

    /*Main page styles*/
    #general
    {
        width: 70%;
    }

    #introIcons img
    {
        width: 40%;
    }

    #introParagraph 
    {
        margin-left: 4em;
        margin-bottom: 2em;
    }

    #codeConst
    {
        font-size: 0.9em;
    }

    #codeSuper
    {
        font-size: 0.85em;
    }

    .codeSelf
    {
        font-size: 0.85em;
    }

    #codeGotoSkills
    {
        margin-top: 1.5em;
        font-size: 0.95em;
    }

    #introHeadWrapper
    {
        display: flex;
        justify-content: row;
        margin: 1em;
    }

    #verticalDivider
    {
        min-width: 1px;
        background-color: #F06543;
        margin-top: 2em;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .introButton
    {
        box-shadow: 3px 4px 0px 0px #DB5C3D;
        background-color: #F06543;
        border: 1px solid #DB5C3D;
        cursor: pointer;
        color: #313638;
        padding: 0.25em;
        min-width: 45%;
        max-width: 45%;
        text-align: center;
        margin: 0.5em;
    }
    
    
    #codeIntro
    {
        font-family: 'Fira Code', monospace;
        min-width: 40%; 
    }

    #contact
    {
        width: 70%;
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #blogIntro
    {
        width: 50%;
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
    }

    #blogIntro ul 
    {
        padding-right: 40px;
    }

    #post
    {
        margin-top: 1em;
        width: 50%;
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Home page styles*/
    #listWrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    #skills ul
    {
        min-width: 25%;
        max-width: 25%;
        background-color: #FBFBFB;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        list-style-type: circle;
        text-align: left;
    }
    
    #skills h4 
    {
        margin-top: 1em;
        margin-right: 1em;
        text-align: center;
    }

    #projectsWrapper
    {
        display: none;
    }

    #projects
    {     
        padding: 1em;  
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        font-size: 1em;
        
    }

    #projects ul
    {
        display: flex;
        text-align: left;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: -2.5em; 
    }

    #projects li
    {
        width: 40%;
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        padding: 1em;
        margin: 1em;
        list-style-type: none;
    }

    #blogSidebar
    {
        background-color: #fbfbfb;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        margin-top: 1em;
        margin-right: 1em;
        height: 1%;
        max-width: 20%
    }

    #blogSidebar ul
    {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-right: 2.5em;
    }

    #sidebarBottom 
    {
        padding: 1em;
    }

    #blogSidebar ul a
    {
        margin-top: 1em;
    }

    #recentBlogPageDate
    {
        font-size: 0.75em;
        margin-top: -0.75em;
    }

    #blogPageExcerpt 
    {
        background-color: #fbfbfb;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        padding: 1em;
        overflow: hidden;
        max-width: 60%;
        min-height: 3em;
        max-height: 3em;
    }

    #postMarginWrap span
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #postMarginWrap img
    {
        width: 120px;
        height: 180px;
    }
}

#intro
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    background-color: #FBFBFB;
    box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
}

#codeIntro p
{
    margin-bottom: -0.75em;
}


.introButton
{
    box-shadow: 3px 4px 0px 0px #DB5C3D;
    background-color: #F06543;
    border: 1px solid #DB5C3D;
    cursor: pointer;
    color: #313638;
    padding: 0.25em;
    min-width: 5%;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.headElem
{
    font-weight: normal;
    max-width: 85%;
}

.headElem span
{
    color: #F06543; 
}

#codeClassSpan
{
    color: purple
}

#codeSuperSpan
{
    color: orange;
}

.codeSelfSpan
{
    color: red;
}

.codeDefSpan
{
    color: green;
}

#blogLink
{
    border-bottom: 0.15em solid #F06543;
    text-decoration: none;
}

#introIcons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#introIcons div
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    width: 10%;
}

#introIcons div a
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#introIcons img
{
    min-width: 1.5em;
    min-height: 1.5em;
    max-width: 1.5em;
    max-height: 1.5em;
}

#intro h1
{
    color: #F06543;
}

#intro h2
{
    font-size: 1.15em;
    width: 85%;
}

#intro h3
{
    font-size: 1em;
    width: 95%;
}

#skills h3
{
    font-size: 1em;
    width: 95%;
}

#skills li
{
    font-size: 1em;
}

#skills
{
    background-color: #FBFBFB;
    box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1em;
    margin-top: 1.5em;
}

#listWrapper li
{
    font-size: 0.9em;
    min-width: 100%;
    max-width: 100%;
}

#projectWrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#projects li div
{
    box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
    background-color: #313638;
    padding: 1em;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -1em;
    margin-top: 1em;
    min-height: 16em;
    color: #fbfbfb;
}

#projects a
{
    text-decoration: none;
    border-bottom: 0.15em solid #F06543; 
}

/*Contact*/
#mainContact
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact h1
{
    padding-top: 1em;
    color: #F06543;
    font-size: 1.5em;
}

#contact form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#contact span
{
    color: #F06543;
}

#contact input
{
    font-size: 1em;
    width: 100%;
}

#contactInputMessage
{
    font-size: 1.25em;
}

/*Blog wrapper page*/
#blogPageWrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#blogIntroWrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#marginWrap ul
{
    padding-right: 40px;
}

marginWrap li
{
    min-width: 90%;
}

#blogPagePostTitle
{
    font-size: 0.75em;
    width: 100%;
}

#blogPagePostTitle p
{
    margin-top: -0.75em;
}

#marginWrap ul
{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
}

#marginWrap h1
{
    font-weight: normal;
    font-size: 1em;
}

#marginWrap h3
{
    font-size: 0.9em;
    width: 95%;
}

#marginWrap h1
{
    font-size: 1.5em;
}

#blogIntro ul a
{
    font-size: 2em;
    text-decoration: none;
}

#blogIntroWrapper h1
{
    color: #F06543;
}

#blogPageExcerpt p
{
    font-size: 0.5em;
    color: #313638;
}

#blogPageExcerpt
{
    font-size: 0.5em;
    font-weight: normal;
    color: #313638;
} 

#marginWrap ul li a 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#blogIntro li
{
    list-style-type: none;
}


#divider
{
    width: 100%;
    background-color: #F06543;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 1px;
}

#blogDivider {
    width: 70%;
    background-color: #F06543;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 1px; 
}

#postDivider
{
    width: 100%;
    background-color: #F06543;
    height: 1px;
}

#postTextWrapper
{
    text-align: justify;
}

.skillsDivider 
{
    width: 100%;
    background-color: #F06543;
    min-height: 1px;
    margin-top: -0.5em;
    margin-bottom: 1em;
}

/*Blog post page*/
#postWrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#postMarginWrap
{
    width: 90%;
    margin-bottom: 3em;
    margin-top: 3em;
}

#postMarginWrap em
{
    font-size: 1em;
}

#postMarginWrap a
{
    text-decoration: none;
    border-bottom: 0.15em solid #F06543; 
}

#postDate
{
    font-size: 0.7em;
    margin-top: -1em;
}

#author
{
    font-size: 1.15em;
    color: #F06543;
}

#postMarginWrap h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

#postMarginWrap span
{
    padding: 0.5em;
    max-width: 100%;
    border-style: solid;
    border-color: #313638;
}

#postMarginWrap img
{
    margin: 0.5em;
    cursor: pointer;
    border-style: solid;
    border-color: #313638;
}

/*Footer*/
footer
{
    width: 100%;
    background: #fbfbfb;
    text-align: center;
    box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;

    position: absolute;
    bottom: 0;
}

footer p
{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.8em;
}

footer a 
{
    margin-top: -1em;
    font-size: 0.75em;
}