/*Color pallete*/
/*
#313638 - Onyx
#C6C8C8 - Lavender Gray (box shadows)
#F09D51 - Sandy Brown
#E0DFD5 - Gainsboro
#E8E9EB - Platinum
#F06543 - Tomato
*/

body
{
    background-color: #E8E9EB;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.75em;
}

.mainContent
{
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

/*Nav*/
#navbar
{
    display: flex;
    justify-content: center;
}

#navigationElem a 
{
    padding: 0.25em;
}

/*Home page*/
@media only screen and (max-width: 1024px) 
{
    #navigationElem
    {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        justify-content: center;
        top: 0;
        width: 100%;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        background-color: #FBFBFB;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.15em;
    }

    #general
    {
        max-width: 100%;
        min-width: 100%;
        max-height: 95%;
        min-height: 75%;
        color: #313638;
        font-size: 1em;
        flex-wrap: wrap;
    }

    #contact
    {
        background-color: #FBFBFB;
        padding: 1em;
        max-width: 89.5%;
        min-width: 89.5%;
        max-height: 95%;
        min-height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.9em;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
    }

    #intro h2
    {
        font-size: 1.25em;
        max-width: 100%;
        min-width: 100%;
    }

    #intro h3
    {
        font-size: 1.15em;
        max-width: 100%;
        min-width: 100%;
    }

    #skills
    {
        padding: 1em;  
        background-color: #FBFBFB;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.15em;
    }

    #listWrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #skills ul
    {
        max-width: 75%;
        min-width: 75%;
        background-color: #E8E9EB;
        margin: 1em;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
    }

    #introWrapper
    {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #skillsWrapper
    {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 1025px)
{
    #navigationElem
    {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        background-color: #FBFBFB;
        padding-top: 1em;
        padding-right: 5em;
        padding-bottom: 1em;
        font-size: 1.15em;
    }

    #general
    {
        max-width: 60%;
        min-width: 25%;
        max-height: 95%;
        min-height: 75%;
        color: #313638;
        font-size: 1em;
        flex-wrap: wrap;
    }

    #contact
    {
        background-color: #FBFBFB;
        margin-top: 1em;
        max-width: 60%;
        min-width: 25%;
        max-height: 95%;
        min-height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #listWrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #skills ul
    {
        max-width: 50%;
        min-width: 50%;
        background-color: #E8E9EB;
        margin: 1em;
        box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    #introWrapper
    {
        margin: 1em;
    }

    #skillsWrapper
    {
        margin: 1em;
    }
}

#intro
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    background-color: #FBFBFB;
    box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
}

#contactMe
{
    box-shadow: 3px 4px 0px 0px #DB5C3D;
    background-color: #F06543;
    border: 1px solid #DB5C3D;
    cursor: pointer;
    color: #313638;
    padding: 0.5em;
    min-width: 5%;
    text-align: center;
}


#headElem
{
    font-weight: normal;
}

#headElem span
{
    border-bottom: 0.25em solid #F06543; 
}

#intro h1
{
    color: #F06543;
}

#intro h2
{
    font-size: 1em;
    width: 85%;
}

#intro h3
{
    font-size: 0.85em;
    width: 95%;
}

#skills h3
{
    font-size: 0.85em;
    width: 95%;
}

#skills
{
    padding: 1em;  
    background-color: #FBFBFB;
    box-shadow: 0 1px 2px #C6C8C8, 0 1px 3px #C6C8C8;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1em;
}

#listWrapper li
{
    padding: 0.25em;
}

/*Contact*/
#contact form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#contactInputMessage
{
    font-size: 1.15em;
}


