<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title> 
    <link rel="icon" href="../../../assets/image/book.ico">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code|Montserrat&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159381904-1');
    </script>
  </head>
  <body> 
    <main id="mainSect">
        <div id="navbar">
          {% include navigation.html %}
        </div>
        <div id="mainContent">
            {{ content }}
        </div>
    </main>
    <footer>
      <p>Bryce R. Crist (MochaMethod)</p>
      <div id="footerLinks">
        <a href="https://github.com/MochaMethod/">Personal Github</p>
        <a href="https://github.com/qlibcrist">Business Github</p>
        <a href="https://twitter.com/_MochaMethod">Twitter</p>
        <a href="https://www.instagram.com/brycecrisppy/?hl=en">Instagram</p>
        <a href="https://www.linkedin.com/in/mochamethod">LinkedIn</a>
        </div>
    </footer>
  </body>
  <script type="text/javascript" src="../../../assets/js/core/navbar.js"></script>
</html>